# JUMPING FIX

In [1]:
import geopandas as gp
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from shapely.geometry import Point
import nafot
import time
import random
from tqdm import tqdm, tqdm_notebook
from datetime import datetime as dt
from geopy.distance import distance
%matplotlib inline

In [2]:
loc_data = pd.read_csv(r'C:\Users\user\Documents\דרופבוקס\Data - cellular db\with stat area\sample2_100M_with_stat.csv')

# Remove records without stat area
loc_data.dropna(inplace=True)

In [3]:
im = np.random.choice(loc_data.imsi)
im = 52603953665
print (im)

52603953665

In [12]:
jumps_dfs = []
jumps = pd.DataFrame(columns=['total', 'jumps'])

for i in tqdm_notebook(range(1000)):
    im = np.random.choice(loc_data.imsi)

    loc = loc_data[loc_data.imsi == im].copy()
    loc['datetime'] = loc.apply(lambda row: dt.strptime('{} {}'.format(row.date_stamp, row.time_stamp), '%Y-%m-%d %X'),axis=1)

    # Sort by datetime
    loc.sort_values('datetime', inplace=True)

    # loc['point'] = loc.apply(lambda row: Point(row.latitude, row.longtitude), axis=1)
    # loc['prev_point'] = loc.point.shift()
    loc['prev_datetime'] = loc.datetime.shift()

    loc['prev_lat'] = loc.latitude.shift()
    loc['prev_lon'] = loc.longtitude.shift()


    # Remove first row
    loc.drop(loc.index[0], inplace=True)

    # Calculate distance and time difference
    # loc['dist'] = loc.apply(lambda row: row.point.distance(row.prev_point), axis=1)
    loc['dist'] = loc.apply(lambda row: distance((row.latitude,row.longtitude),(row.prev_lat,row.prev_lon)).meters, axis=1)
    loc['time_diff'] = loc.apply(lambda row: (row.datetime - row.prev_datetime).seconds, axis=1)
    loc['speed'] = loc.apply(lambda row: (row.dist/row.time_diff) if row.time_diff > 0 else 0 ,axis=1)

    loc = loc[['datetime', 'prev_datetime', 'latitude','longtitude', 'prev_lat', 'prev_lon', 'dist', 'time_diff', 'speed']]
    
    # Add the data to jumps df
    jumps.loc[i] = loc.shape[0], loc[loc.speed > 300].shape[0] 
    
    # Save df
    jumps_dfs.append(loc.copy())

jumps['jump_precent'] = jumps.jumps / jumps.total
jumps

      total jumps jump_precent
0    210155   229   0.00108967
1     31540    12  0.000380469
2    136075   103  0.000756936
3     37010    38   0.00102675
4    141715   575   0.00405744
5     20149    18  0.000893345
6     34711   178   0.00512806
7     39577    97   0.00245092
8    184954   738   0.00399018
9     27047    47   0.00173772
10    29002    88   0.00303427
11    25812    43   0.00166589
12    64681    89   0.00137598
13    18756   205    0.0109298
14     2583     5   0.00193573
15     2132     4   0.00187617
16    47050   489    0.0103932
17    13081     8  0.000611574
18      792     7   0.00883838
19    33627    80   0.00237904
20     7775    17    0.0021865
21   183295   369   0.00201315
22    50027   179   0.00357807
23    20096   143   0.00711584
24    23534    31   0.00131724
25    46377   234    0.0050456
26    45016   290   0.00644215
27    20099    13  0.000646798
28    95837     9  9.39095e-05
29    21587   194   0.00898689
..      ...   ...          ...
970   70796    17  0.000240127
971   20221    16  0.000791257
972   18996    70   0.00368499
973   28719    30    0.0010446
974    7133     5  0.000700967
975   15886   144   0.00906459
976   20340    37   0.00181908
977   26215    18   0.00068663
978   61439   198   0.00322271
979   97019   376   0.00387553
980   54542    66   0.00121008
981    2301     9   0.00391134
982   29002    88   0.00303427
983   56615    16  0.000282611
984   14311    24   0.00167703
985   16406    62   0.00377911
986   52245   193   0.00369413
987   82005   116   0.00141455
988   40216   128   0.00318281
989   76426   359   0.00469735
990  101295   311   0.00307024
991   75837   200   0.00263724
992   53138   122   0.00229591
993   60655   504   0.00830929
994   34809   241    0.0069235
995   49507   228   0.00460541
996   70466    28  0.000397355
997     712     0            0
998   83280    67  0.000804515
999   79887   423   0.00529498

[1000 rows x 3 columns]

In [18]:
for i, df in enumerate(jumps_dfs):
    df['user'] = i

In [38]:
jumps.describe(percentiles=[0,.25,.5,.75,1])

         total  jumps  jump_precent
count     1000   1000        1000.0
unique     782    324         766.0
top     127101      0           0.0
freq         6     18          18.0

In [19]:
jumpd_df = pd.concat(jumps_dfs)

In [24]:
jump_df = jumpd_df[['user', 'datetime', 'prev_datetime', 'latitude', 'longtitude', 'prev_lat',
       'prev_lon', 'dist', 'time_diff', 'speed']].copy()

In [27]:
# jumps.to_csv('../data/jumps.csv', index=False)
# jump_df.to_csv('../data/jumps_df.csv', index=False)

In [4]:
jump_df = pd.read_csv('../data/jumps.csv')
jump_df.describe()

               total        jumps  jump_precent
count    1000.000000  1000.000000   1000.000000
mean    56073.336000   213.962000      0.003499
std     53588.897795   411.017951      0.003726
min        99.000000     0.000000      0.000000
25%     20096.000000    28.000000      0.001113
50%     42823.000000    92.000000      0.002436
75%     75852.750000   224.500000      0.004660
max    434690.000000  3978.000000      0.037332

In [6]:
jump_data = pd.read_csv(r'C:\Users\user\Documents\דרופבוקס\Data - cellular db\with stat area/jumps_df.csv')